
label{
    padding:10px;
    /* text-align:left; */
}
select{
    margin-right:auto;
    font-size:15px;
    height:30px;
    width:150px;

} 
body{
    display: flex;
    flex-direction:column;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  font-size:18px;
}
form{

    /* height:300px;
    width:400px; */
    padding:20px;
    padding-top:60px;
}
input[type="text"]{
    border:none;
    border-bottom: 1px solid black;
    font-size:15px;
    width:120px;

}